app==0.0.1
asgiref==3.2.3
calci==1.1
certifi==2021.10.8
charset-normalizer==2.0.12
Django==3.0.3
django-crispy-forms==1.9.2
djangorestframework==3.13.1
idna==3.3
joblib==1.1.0
numpy==1.20.1
pandas==1.2.3
Pillow==9.0.1
pyaes==1.6.1
pyasn1==0.4.8
PyInputPlus==0.2.9
pyperclip==1.7.0
PySimpleValidate==0.2.10
python-dateutil==2.8.1
pytz==2019.3
requests==2.27.1
rsa==4.6
scikit-learn==1.0.1
scipy==1.7.3
six==1.15.0
sklearn==0.0
sqlparse==0.3.0
stdiomask==0.0.5
Telethon==1.16.4
threadpoolctl==3.0.0
urllib3==1.26.9
views==0.3
