{% extends "movie/base.html" %}
{% block content %}


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>


	<div class="row" style="border:none; background:white; height:210px;">
		<div class="col-xs-6">
			<img src="https://image.tmdb.org/t/p/original/{{context.img}}" style="height:500px; margin-left:-15px;" />
		</div>
        <div class="col-xs-5">
            <h2>{{ context.title }}</h2>
         <p>{{ context.des }}</p><br/>
    <p><strong>Rating: </strong>{{ context.rating }}</p><hr/>
    <p><strong> Release Date: </strong>{{ context.release_date }}<hr/>
        </div>

	</div>


{% endblock content %}
